.bg-color{
    background-color: rgb(230, 209, 251);
}




.img{
    height: 300px;
    margin-top: 10px;
}



.img:hover{
    transform:scale(0,0);
    transition: 4s;
    animation-iteration-count: infinite;
}

.card1{
    border: 0px solid rgb(68, 64, 64);
   box-shadow: 0 0 1px 1px;
   height: 550px;
   width: 600px;
}
.index{
  
    display: flex;
    flex-direction: row;
}
.text{
    background-image: url(./background.jpg);
     mask-repeat: no-repeat;
    height: 700px;
    width: 100%;
    z-index: 100px;
    
background-size: cover;

}
.container{
    position: relative;
}
.script{
    display: flex;
    text-align: center;
position: absolute;
font-size: 90px;
color: white ;
bottom: 270px;
left: 300px;


}



    

