
.button-color{
    background-color: rgb(118, 21, 209);
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}





.card1{
    border: 0px solid rgb(68, 64, 64);
   box-shadow: 0 0 1px 1px;
  
}
.index{
  
    display: flex;
    flex-direction: row;
}

.container{
    position: relative;
}
.cards{
    margin-top: 300px;
}
.script{
    display: flex;
    text-align: center;
position: absolute;
font-size: 90px;
color: black ;
/* bottom: 270px; */
left: 270px;


}





/* animation */

.content {
    margin: 0;
    padding: 0;
    animation: effect 3s linear infinite;
}

section {
    width: 100%;
    height: 100vh;
}

.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}



@keyframes effect {
    0% {
        background: linear-gradient(#c8a766, #81fa81);
    }

    50% {
        background: linear-gradient(#9882d6, #1072cf);
    }

    100% {
        background: linear-gradient(#efb279, #df5017);
    }
}




    

