a {
    text-decoration: none;
}

.btn-properties {
    background-color: blueviolet;
    color: white;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 5px;
}

/* .card-img{
    width: 303px;
    height: 202px;
}

.card-img img{
    width: 100%;
    height: 100%; 
} */

/* .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */
.height {
    height: 400px;

}

/* new cards  */

.update-btn button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    width: 120px;
    font-size: 20px;
}

.heading {
    font-size: 40px;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.team-vs {
    align-items: center;
    display: flex;
    justify-content: center;

}

.team-vs h1 {
    font-size: 100px;
    color: blueviolet;
}

.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width:600px) {
    .update-btn button {
        width: 88px;
    }

    .team-vs h1 {
        font-size: 41px;
        margin: 10px;
    }
}



@media screen and (max-width:600px) {
    .footer1 {
        display: flex;
        flex-direction: column;
    }

}